# Настройка уровня логирования
LOG_LEVEL=debug

# Конфигурация MQTT
MQTT_BROKER=tcp://localhost:1883
MQTT_CLIENT_ID=mqttreceiver-01
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_SUBSCRIBE_QOS=0
MQTT_PUBLISH_QOS=0

# Конфигурация DB
DB_FILE=brutus.db
HISTORY_RETENTION_DAYS=7

# Конфигурация портов
GRPC_PORT=50052
METRICS_PORT=9090

# Настройки оптимизации
MQTT_INGEST_QUEUE_SIZE=2000
INGEST_WORKERS=5

# Конфигурация объекта
CONFIG_PATH=conf.json

# Авторизация
JWT_SECRET=some-very-secret-key-for-jwt-signing
AUTH_USERNAME=admin
AUTH_PASSWORD=s3cr3t